Gustavo_Aula_3_no_credentials.json
{
  "name": "Gustavo-Aula-3-no-credentials",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        -300
      ],
      "id": "a5023b65-a98f-4f41-be56-008c36b2b253",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "## Extração, Transformação e Load\n",
        "height": 680,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -480
      ],
      "id": "2daafe98-e61e-4138-a5cc-16ae71bb42fe",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1140,
        340
      ],
      "id": "b3a5d525-8c3c-41c3-bffe-753b635f8aa0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://stedileadvocacia.digisac.co/api/v1/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "perPage",
              "value": "20000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -300
      ],
      "id": "6367c600-b9f5-4526-8ec8-8abe6db493ac",
      "name": "HTTP Request - Contatos"
    },
    {
      "parameters": {
        "url": "https://stedileadvocacia.digisac.co/api/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "perPage",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $response.body.currentPage +1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -60
      ],
      "id": "074a1495-94fb-4b87-9140-524ba5092153",
      "name": "HTTP Request - Mensages"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        -60
      ],
      "id": "3472595b-b503-4732-9a42-94f5170c9a34",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "gustavo_contatos",
          "mode": "list",
          "cachedResultName": "gustavo_contatos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "block": false,
            "id": "={{ $json.id }}",
            "note": "={{ $json.note }}",
            "last_message_at": "={{ $json.lastMessageAt }}",
            "created_at": "={{ $json.createdAt }}",
            "id_from_service": "={{ $json.idFromService }}",
            "name": "={{ $json.name }}",
            "internal_name": "={{ $json.internalName }}",
            "alternative_name": "={{ $json.alternativeName }}",
            "phone_number": "={{ $json.data.number }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_message_at",
              "displayName": "last_message_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "block",
              "displayName": "block",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "id_from_service",
              "displayName": "id_from_service",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "internal_name",
              "displayName": "internal_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "alternative_name",
              "displayName": "alternative_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        820,
        -300
      ],
      "id": "6d00073a-6501-4f19-8f78-974ce6856339",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "VbnQqtUWDR4FCCoO",
          "name": "[SIMPLEWORK]Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "gustavo_mensagens",
          "mode": "list",
          "cachedResultName": "gustavo_mensagens"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_from_me": "={{ $json.isFromMe }}",
            "sent": "={{ $json.sent }}",
            "is_from_bot": "={{ $json.isFromBot }}",
            "is_comment": "={{ $json.isComment }}",
            "id": "={{ $json.id }}",
            "type": "={{ $json.type }}",
            "timestamp": "={{ $json.timestamp }}",
            "text": "={{ $json.text }}",
            "contact_id": "={{ $json.contactId }}",
            "from_id": "={{ $json.fromId }}",
            "service_id": "={{ $json.serviceId }}",
            "created_at": "={{ $json.createdAt }}",
            "updated_at": "={{ $json.updatedAt }}",
            "quoted_message_id": "={{ $json.quotedMessage }}",
            "files": "={{ $json.files }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_from_me",
              "displayName": "is_from_me",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "from_id",
              "displayName": "from_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "service_id",
              "displayName": "service_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "quoted_message_id",
              "displayName": "quoted_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "files",
              "displayName": "files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_from_bot",
              "displayName": "is_from_bot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_comment",
              "displayName": "is_comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        820,
        -60
      ],
      "id": "c8795632-8c20-4718-abc4-ee90cd0d309e",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "VbnQqtUWDR4FCCoO",
          "name": "[SIMPLEWORK]Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id AS id_usuario,\n    REGEXP_REPLACE(c.name, '[^a-zA-Z0-9áàâãéèêíìîóòôõúùûçÁÀÂÃÉÈÊÍÌÎÓÒÔÕÚÙÛÇ\\s]', '', 'g') AS nome_usuario,\n    c.phone_number AS telefone,\n    m.text AS mensagem,\n    m.timestamp AS data_hora,\n    CASE \n        WHEN m.is_from_me THEN 'Enviada' \n        ELSE 'Recebida' \n    END AS tipo_mensagem\nFROM \n    gustavo_contatos c\nJOIN \n    gustavo_mensagens m ON c.id = m.contact_id\nWHERE \n    c.block = FALSE\nORDER BY \n    c.name DESC,\n    m.timestamp ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        700
      ],
      "id": "b88ff486-d1ec-40b1-9d1f-bba476885dee",
      "name": "Postgres2",
      "credentials": {
        "postgres": {
          "id": "VbnQqtUWDR4FCCoO",
          "name": "[SIMPLEWORK]Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id AS id_usuario,\n    REGEXP_REPLACE(c.name, '[^a-zA-Z0-9áàâãéèêíìîóòôõúùûçÁÀÂÃÉÈÊÍÌÎÓÒÔÕÚÙÛÇ\\s]', '', 'g') AS nome_usuario,\n    c.phone_number AS telefone,\n    JSON_AGG(\n        JSON_BUILD_OBJECT(\n            'mensagem', m.text,\n            'data_hora', m.timestamp,\n            'tipo', CASE WHEN m.is_from_me THEN 'Enviada' ELSE 'Recebida' END\n        ) ORDER BY m.timestamp ASC\n    ) AS mensagens\nFROM \n    gustavo_contatos c\nLEFT JOIN \n    gustavo_mensagens m ON c.id = m.contact_id\nWHERE \n    c.block = FALSE\nGROUP BY \n    c.id, c.name, c.phone_number\nORDER BY \n    nome_usuario ASC LIMIT 2;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        340
      ],
      "id": "ff2b2dfc-1166-4920-94a0-11728306a6cb",
      "name": "Postgres3",
      "credentials": {
        "postgres": {
          "id": "VbnQqtUWDR4FCCoO",
          "name": "[SIMPLEWORK]Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.telefone }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Clf0lkw9AzZZCwwUcr-L7_J9_h0pFstY",
          "mode": "list",
          "cachedResultName": "Gustavo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Clf0lkw9AzZZCwwUcr-L7_J9_h0pFstY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2040,
        360
      ],
      "id": "5e4ada2f-2e12-49d0-8e6b-d60b35a19748",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HfqNLATIEzSePrSy",
          "name": "[SIMPLEWORK]Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1720,
        340
      ],
      "id": "b16c27b8-faf0-4dad-92cd-92b6e658a7fb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1700,
        680
      ],
      "id": "80550f07-ab5b-4d45-9ec0-105eab846895",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.mensagens[0].tipo }}",
        "name": "={{ $json.telefone }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Clf0lkw9AzZZCwwUcr-L7_J9_h0pFstY",
          "mode": "list",
          "cachedResultName": "Gustavo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Clf0lkw9AzZZCwwUcr-L7_J9_h0pFstY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2000,
        700
      ],
      "id": "66d4d49c-5d8d-46e8-bd94-174317acb4c7",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HfqNLATIEzSePrSy",
          "name": "[SIMPLEWORK]Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Transformando e salvando no google drive\n\n",
        "height": 680,
        "width": 1320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        220
      ],
      "id": "dcab814c-d380-4e5e-be77-aaacb840ea29",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Contatos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Mensages": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        []
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a7c5f61-7e9e-4465-bc0b-86a6b9f2014d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e78b4fcd0d19076a6ee572574407dbe618e0363f1c045b3c6c7549a67fe38620"
  },
  "id": "APsQmyuZ9Uz0UTrO",
  "tags": []
}